@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient 
    !bg-[length:300%_300%] 
    hover:saturate-[1.2] 
    shadow duration-100 
    !border-0 
    !border-transparent 
    !bg-transparent 
    animate-shimmer 
    disabled:!bg-none 
    disabled:!bg-gray-500/30  
    !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}

/* Loader CSS */
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
